
{% extends 'landing/base.html' %}
{% load static %}


{% block content %}

<div class="new-banner faq-bg">
    <div class="overlay"></div>
    
    <div class="banner-content">
        <h2>FAQ</h2>
        <p>(Frequently Asked Questions)</p> 
    </div>
</div>

<div class="general">

    <div class="container">
        <h3 class="color-1">WEBSITE FAQ</h3>

        <div class="faq-line-wrapper bg-1">
            <div class="faq-question">
                <span class="fa fa-plus faq-expension"></span>
                <span class="faq-question-text">When did Freeomi.com start?</span>
            </div>
            <div class="faq-answer">
                <div class="faq-answer-inner">
                    <div class="faq-a-wrapper">
                        <div class="faq-a">A</div>
                    </div>
                    <div>
                        Freeomi.com has been established and officially launched in August 2022. We worked on the site for a long time prior to launching it.
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-line-wrapper bg-1">
            <div class="faq-question">
                <span class="fa fa-plus faq-expension"></span>
                <span class="faq-question-text">How do I get paid from the site?</span>
            </div>
            <div class="faq-answer">
                <div class="faq-answer-inner">
                    <div class="faq-a-wrapper">
                        <div class="faq-a">A</div>
                    </div>
                    <div>
                        You get paid in Ecomi (OMI). Ecomi is a Crpyto Currency just like Ripple, Ethereum and other Crpyto Currencies. You will get paid to a Ecomi wallet.
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-line-wrapper bg-1">
            <div class="faq-question">
                <span class="fa fa-plus faq-expension"></span>
                <span class="faq-question-text">Where can I get a Ecomi wallet?</span>
            </div>
            <div class="faq-answer">
                <div class="faq-answer-inner">
                    <div class="faq-a-wrapper">
                        <div class="faq-a">A</div>
                    </div>
                    <div>
                        You can get a Ecomi wallet in many places. We do recommend to get a wallet from <a href="https://www.okx.com/join/9435265">https://www.okx.com/</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-line-wrapper bg-1">
            <div class="faq-question">
                <span class="fa fa-plus faq-expension"></span>
                <span class="faq-question-text">Are withdrawals processed instantly?</span>
            </div>
            <div class="faq-answer">
                <div class="faq-answer-inner">
                    <div class="faq-a-wrapper">
                        <div class="faq-a">A</div>
                    </div>
                    <div>
                        Normally, for most members withdrawals will be processed instantly. However, in order to protect our site from fraudulent activity a withdrawal can be held by our security system. If this happens and you genuinely believe this is wrong - then please send us a Direct Message via <a href="https://twitter.com/OmiFaucet">Twitter</a> and we would be happy to assist. 
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-line-wrapper bg-1">
            <div class="faq-question">
                <span class="fa fa-plus faq-expension"></span>
                <span class="faq-question-text">What is the minimum withdrawal amount?</span>
            </div>
            <div class="faq-answer">
                <div class="faq-answer-inner">
                    <div class="faq-a-wrapper">
                        <div class="faq-a">A</div>
                    </div>
                    <div>
                        The minimum is 40,000 OMI
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-line-wrapper bg-1">
            <div class="faq-question">
                <span class="fa fa-plus faq-expension"></span>
                <span class="faq-question-text">Can I have more than 1 account?</span>
            </div>
            <div class="faq-answer">
                <div class="faq-answer-inner">
                    <div class="faq-a-wrapper">
                        <div class="faq-a">A</div>
                    </div>
                    <div>
                        Generally no, and we block such attempts. The only exception is if you forgot your account details and genuinely wishes to start all over again.
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-line-wrapper bg-1">
            <div class="faq-question">
                <span class="fa fa-plus faq-expension"></span>
                <span class="faq-question-text">How do I contact you?</span>
            </div>
            <div class="faq-answer">
                <div class="faq-answer-inner">
                    <div class="faq-a-wrapper">
                        <div class="faq-a">A</div>
                    </div>
                    <div>
                        Please use our Twitter account. You can easily find our Twitter logo in our site.
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-line-wrapper bg-1">
            <div class="faq-question">
                <span class="fa fa-plus faq-expension"></span>
                <span class="faq-question-text">I see a &quot;FAILED&quot; status when I made a withdrawal, what does it mean? And what would happen?</span>
            </div>
            <div class="faq-answer">
                <div class="faq-answer-inner">
                    <div class="faq-a-wrapper">
                        <div class="faq-a">A</div>
                    </div>
                    <div>
                        A &quot;FAILED&quot; status could mainly show up because you either provided invalid withdrawal details (e.g. non-existing wallet, or a ETH wallet instead of a Ecomi wallet). If the transaction fails please update your payment info and our system will try to resend it.
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-line-wrapper bg-1">
            <div class="faq-question">
                <span class="fa fa-plus faq-expension"></span>
                <span class="faq-question-text">Can I get a valid roll with a result great than 10,000 or this is invalid?</span>
            </div>
            <div class="faq-answer">
                <div class="faq-answer-inner">
                    <div class="faq-a-wrapper">
                        <div class="faq-a">A</div>
                    </div>
                    <div>
                        A valid result must be 0-10000 only. Any other result is invalid. We do place a security feature in our site using an invisible Captcha. If you don&#039;t pass that Captcha then you are likely to receive an invalid result. This is done for seucrity purposes. If you are genuinely unable to pass the Captcha then we suggest you Google search &quot;how to pass Captcha&quot; for tips how to do it as you might need to do so with any other site using Captcha services.
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <!-- Composite Start -->
        {% comment %} <div id="M756877ScriptRootC1216604"></div> {% endcomment %}
        {% comment %} <script src="https://jsc.adskeeper.com/f/r/freeEcomi.io.1216604.js" async></script> {% endcomment %}
        <!-- Composite End -->
    </div>
</div>

{% endblock content %}