

{% extends 'landing/base.html' %}
{% load static %}


{% block content %}
    <div class="general promotion">
        <div class="container">
            <div class="main-content">
                <div class="inner-pages-wrapper">
                    <div class="inner-pages-main-view">
                        <h1 class="mb-4">{{ message.title }}</h1>

                        <div class="card card-message">
                            <div class="py-3">
                                <style>
                                    .inner-pages-wrapper p{
                                        margin-bottom: 1rem;
                                    }
                                </style>
                                {{ message.content|safe }}
                            </div>

                            <span>Sent on: {{ message.created }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}